html,body{
  height:100%;
  background-color: #FFFFFF;
  color: #343A40;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* Page styling */
div.part {
margin-bottom:25px;
margin-right:25px;
margin-left:25px;
border-radius: 5px;
background-color: #FFFFFF;
padding: 20px;
}


/* Font styling */

h1 {
margin-top:25px;
margin-bottom:25px;
margin-right:50px;
margin-left:50px;
color:#343A40;
}
h2 {
margin-top:25px;
margin-bottom:25px;
margin-right:50px;
margin-left:50px;
color:#343A40;
}
h5 {
margin:0px;
color:#343A40;
}
h6 {
margin:0px;
color:#343A40;
}
a:hover {
cursor: pointer;
}

/* button style */
.button, .submit {
background-image: linear-gradient(to right, #09203f 0%, #537895 100%); 
border: none;
opacity: 0.5;
color: rgba(255, 255, 255, 0.925);
box-shadow: 1px 2px 2px #666;
font-size: 15px;
text-align: center;
margin:10px;
border-radius: 12px;
height: 40px;
transition: all 0.5s;
cursor: pointer;
}
.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}

p{
color:black;
margin-bottom: 0rem !important;
}
p.lable {
color:#e2a6a6;
}

