html,body{
    height:100%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: #fafafa;
    color: #343A40;
  }

  .dark-mode {
    background-color: black;
    color: white;
  }
  
/* Page styling */
div.part {
margin-bottom:25px;
margin-right:25px;
margin-left:25px;
border-radius: 5px;
background-color: #FFFFFF;
padding: 20px;
}


/* Font styling */

h1 {
margin-top:25px;
margin-bottom:25px;
margin-right:50px;
margin-left:50px;
color:#343A40;
}
h2 {
margin-top:25px;
margin-bottom:25px;
margin-right:50px;
margin-left:50px;
color:#343A40;
}
h5 {
margin:0px;
color:#343A40;
}
h6 {
margin:0px;
color:#343A40;
}
h1.margin, h2.margin {
  margin-top:25px;
  margin-bottom:25px;
  margin-right:50px;
  margin-left:50px;
}

/* button style */
.button, .submit {
background-image: linear-gradient(to right, #09203f 0%, #537895 100%); 
border: none;
opacity: 0.5;
color: rgba(255, 255, 255, 0.925);
box-shadow: 1px 2px 2px #666;
font-size: 15px;
text-align: center;
margin:10px;
border-radius: 12px;
height: 40px;
transition: all 0.5s;
cursor: pointer;
}
.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}

p{
  margin-bottom: 0rem !important;
}
p.lable {
  color:#e2a6a6;
}
#calendar {
  height: 90%;
  background-image:linear-gradient(to right, #fff 0px, transparent 0px), linear-gradient(#ccc 1px, transparent 1px);
  background-size:  100% 9.53%;
  background-repeat: repeat-y;
  background-position: 0% 16.1%;
  
}
#main {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
}
/* general layout */
.box {
  display: flex;
  flex-flow: row;
  height: 100%;
}
.box-row {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: min-content;
}
.box-col {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box-child {
  flex: 0 1 auto;
  margin: 0%;
  padding: 0;
}


.weekdayheader {
  height:auto;
}

.btn-green-transform {
  background-color:#79ab79;
  border: none;
  color:black;

  text-align: center;

  border-radius: 12px;

  transition: all 0.5s;
  cursor: pointer;
}
.btn-green-transform:hover {
  background-color:#79ab79;
  color:black;
}
/*Livesearch */



/* ACCOUNT */
#userImage {
  background-color: blue;
  width: 150px;
  height: 150px;
  margin-top: 10%;
  padding-right: 5%;
  border-radius: 50%;
}

#accountLeftcol {
  max-width: 200px;
  height: 50%;
}

#accountHistory {
  height: 75%;

}

/* Modal overrides */
.modal-content {
  background-color: #fafafa;
}
